name: Tests

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs: 
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Check if repository is private
        if: github.event.repository.private
        run: |
          echo "Error: Private repositories are not allowed for this workflow"
          exit 1
      
      - name: Run tests
        if: github.event.repository.private != true
        uses: Yandex-Practicum/test-project-action@v1
        with:
          project: 'ono-tebe-nado-ad'
